@font-face {
	font-family: 'myriadproregular';
	src: url('../includes/fonts/myriadproregular.eot?')format('eot');
	src: url('../includes/fonts/myriadproregular.eot?#iefix') format('embedded-opentype'),
		url('../includes/fonts/myriadproregular.woff') format('woff'), url('../includes/fonts/myriadproregular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} 
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu-eng, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li, .sf-menu-eng li {
	position: relative;
}
.sf-menu ul, .sf-menu-eng ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li, .sf-menu-eng > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul, .sf-menu-eng li:hover > ul, .sf-menu-eng li.sfHover > ul{
	display: block;
}

.sf-menu a, .sf-menu-eng a{
	display: block;
	position: relative;
}
.sf-menu ul ul, .sf-menu-eng ul ul {
	top: 0;
	left: 100%;
}

/*** DEMO SKIN ***/
.sf-menu, .sf-menu-eng {
	float:left;
	position:relative;
}
.sf-menu a {
	text-decoration: none;
	color: #000000;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	zoom: 1; /* IE7 */
	background-image: url(img/navigpozadinar.gif);
	background-repeat: no-repeat;
	background-position: top right;
	clear: both;
	display: block;
	margin: 0px;
}
.sf-menu-eng a {
	text-decoration: none;
	color: #fff;
	padding: 5px 15px 5px 15px;
	cursor: pointer;
	zoom: 1; /* IE7 */
	clear: both;
	display: block;
	margin: 0px;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	font-size: 11px;
 	font-weight: bold;
	font-family:  Verdana, Book Antiqua, Georgia;
}
.sf-menu-eng a, .sf-menu-eng a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	font-size: 15px;
 	font-weight: normal;
	font-family: 'myriadproregular',Arial,Helvetica,sans-serif;
}
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	color: #333333;
	background-image: url(img/navigpozadinar1.gif);
	background-repeat: no-repeat;
	background-position: top right;
	display: block;
	margin: 0px;
}
.sf-menu-eng a:focus, .sf-menu-eng a:hover, .sf-menu-eng a:active {
	color: #fff;
	display: block;
}
.sf-menu li {
	background-image: url(img/navigpozadinal.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 2px;
	text-align:left;
	white-space:nowrap;
	width:auto;
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu-eng li {
	padding:0px 0px 0px 0px;
	margin:0px 2px 0px 2px;
	text-align:left;
	white-space:nowrap;
	width:auto;
	height:25px;
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu li li{
	color: #1D5D83;
	background-image: none;
	white-space:nowrap;
	width:auto;
	margin:0px;
 	
}
.sf-menu-eng li li{
	color: #1D5D83;
	background-image: none;
	background-color:#F6F6F8;
	white-space:nowrap;
	width:auto;
	height:auto;
	margin:0px;
 	
}
.sf-menu ul {	
	background: #FFFFFF;
	margin:0px;
	padding: 0px;
	border: 1px solid #CDDAE0;
	min-width: 10em; /* allow long menu items to determine submenu width */
	*width: 10em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu-eng ul {	
	border:1px solid #CDDAE0;
	margin:25px 0px 0px 0px;
	min-width: 10em; /* allow long menu items to determine submenu width */
	*width: 10em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu ul a {
	font-size:12px;
	font-weight:normal;
 	color:  #a72423;
	padding: 5px 15px 5px 15px;
	background-image: none;
}
.sf-menu-eng ul a {
	font-size:16px;
	font-weight:normal;
 	color:  #a72423;
	padding: 10px 15px 10px 15px;
}
.sf-menu ul a:hover {
  	color: #000000 !important;
	background-image: none;
}
.sf-menu-eng ul a:hover {
  	color: #000000 !important;
}
.sf-menu li li li, .sf-menu-eng li li li  {
	background-image: none;
	background-color:#F6F6F8;
 	width:100%;
	height:auto;
}
.sf-menu li:hover, .sf-menu li.sfHover {
	/* only transition out, not in */
	background-image: url(img/navigpozadinal1.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	-webkit-transition: none;
	transition: none;
}
.sf-menu-eng li:hover, .sf-menu-eng li.sfHover {
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
.sf-menu ul li:hover, .sf-menu ul li.sfHover
{
  	background-color: none;
  	background-image: none;

}
/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #4d4e50; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(77,78,80,1);
}
.sf-menu-eng .sf-with-ul:after {
	right: 1em !important;
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: #8a8989; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #4d4e50; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(77,78,80,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: #4d4e50;
}
